{% extends 'base_site.html' %}

{% block head_title %}Favorites{% endblock head_title %}

{% block content %}

    <div class="mdl-grid">

        <div class="mdl-layout-spacer"></div>

        <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">

            {% if object_list %}

                <ul class="mdl-list">
                {% for fav in object_list %}

                    <li class="mdl-list__item mdl-list__item--two-line">
                        <a class="mdl-list__item-primary-content " href="{% url 'entries:detail' fav.content_object.slug %}">
                        <span>
                            <span class="truncate">{{ fav.content_object.text }}</span>
                            <span class="mdl-list__item-sub-title">
                                <ul class="taglist">
                                {% for tag in fav.content_object.tags.all %}
                                    <li class="tag primary-color white-text">{{ tag.name }}</li>
                                {% endfor %}
                                </ul>
                            </span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="{% url 'entries:favorite' fav.content_object.slug %}"><i class="material-icons">grade</i></a>
                        </span>
                        </a>
                    </li>

                {% endfor %}
                </ul>

            {% else %}
                <p>No favorites exist.</p>
            {% endif %}

        </div>

        <div class="mdl-layout-spacer"></div>

    </div>

{% endblock content %}
