{% extends 'base_site.html' %}

{% block head_title %}Tags{% endblock head_title %}

{% block content %}

<div class="mdl-grid">

{% if object_list %}

<ul class="collection">

  {% for tag in object_list %}

    <a href="{% url 'tags:detail' tag.name %}" class="undecorate hide-phone">
    {% include 'entries/entrytag_card.html' %}
    </a>

    <a href="{% url 'tags:detail' tag.name %}" class="undecorate hide-tablet hide-desktop">
    {% include 'entries/entrytag_list_item.html' %}
    </a>

  {% endfor %}

</ul>

{% else %}

    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell center">No tags exist.</div>
    <div class="mdl-layout-spacer"></div>

{% endif %}

</div>

{% endblock content %}

