{% extends 'account/base.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">

    <h1>Log in to Lieutenant</h1>

    {% if socialaccount.providers  %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
        <p>
            {% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
        </p>
    {% endif %}

    <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <p>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="{{ form.login.name }}" id="{{ form.login.id_for_label }}" autofocus="autofocus" />
                <label class="mdl-textfield__label" for="{{ form.login.id_for_label }}">Username:</label>
                <span class="mdl-textfield__error">{{ form.login.errors }}</span>
            </div>
        </p>
        <p>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" />
                <label class="mdl-textfield__label" for="{{ form.password.id_for_label }}">Password:</label>
                <span class="mdl-textfield__error">{{ form.password.errors }}</span>
            </div>
        </p>
        <p>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" name="{{ form.remember.name }}" for="{{ form.remember.id_for_label }}">
                <input class="mdl-checkbox__input" type="checkbox" id="{{ form.remember.id_for_label }}" />
                <span class="mdl-checkbox__label">Remember Me:</span>
            </label>
        </p>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="mdl-button mdl-js-button mdl-button--raised" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">{% trans "Sign In" %}</button>
    </form>

</div>

{% endblock %}
