{% extends 'account/base.html' %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container">
    <h1>{% trans "Create a new Lieutenant account." %}</h1>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <p>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" autofocus="autofocus" />
                <label class="mdl-textfield__label" for="{{ form.username.id_for_label }}">Username:</label>
                <span class="mdl-textfield__error">{{ form.username.errors }}</span>
            </div>
        </p>
        <p>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" autofocus="autofocus" />
                <label class="mdl-textfield__label" for="{{ form.email.id_for_label }}">E-mail (optional):</label>
                <span class="mdl-textfield__error">{{ form.email.errors }}</span>
            </div>
        </p>
        <p>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" />
                <label class="mdl-textfield__label" for="{{ form.password1.id_for_label }}">Password:</label>
                <span class="mdl-textfield__error">{{ form.password1.errors }}</span>
            </div>
        </p>
        <p>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" />
                <label class="mdl-textfield__label" for="{{ form.password2.id_for_label }}">Password (confirm):</label>
                <span class="mdl-textfield__error">{{ form.password2.errors }}</span>
            </div>
        </p>

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
</div>

{% endblock %}
