{% extends 'base_site.html' %}

{% block head_title %}{{ entry.created_at }}{% endblock head_title %}

{% block content %}

<div class="container">
  <p class="entry-text">{{ entry.text }}</p>

  <ul class="taglist">
  {% for tag in entry.tags.all %}
  <li><a class="tag primary-color white-text" href="">{{ tag.name }}</a></li>
  {% endfor %}
  </ul>

  <dl>
    <dt>Created at:</dt>
    <dd class="entry-created-at">{{ entry.created_at|date:"c" }}</dd>
    <dt>Updated at:</dt>
    <dd class="entry-updated-at">{{ entry.updated_at|date:"c" }}</dd>
  </dl>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large green darken-4" href="{% url 'entries:update' entry.slug %}">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red" href="{% url 'entries:delete' entry.slug %}"><i class="material-icons">delete</i></a></li>
    <li><a class="btn-floating blue" href="{% url 'entries:clone' entry.slug %}"><i class="material-icons">content_copy</i></a></li>
    <li><a class="btn-floating yellow" href="{% url 'entries:favorite' entry.slug %}"><i class="material-icons">grade</i></a></li>
  </ul>
</div>

{% endblock content %}

{% block extra_body_after_js %}
  <script>$(document).ready(function(){ $(".fixed-action-btn").openFAB(); })</script>
{% endblock %}
