{% extends 'base_site.html' %}

{% block head_title %}Entries{% endblock head_title %}

{% block content %}

{% if object_list %}

<div class="collection">

  {% for entry in object_list %}

    <a href="{% url 'entries:detail' entry.slug %}" class="collection-item">
      <div class="truncate">{{ entry.text }}</div>
      <ul class="taglist">
      {% for tag in entry.tags.all %}
        <li class="tag primary-color white-text">{{ tag.name }}</li>
      {% endfor %}
      </ul>
    </a>

  {% endfor %}

</div>

{% else %}
  <p>No entries are available.</p>
{% endif %}


{% if messages %}

<div>
  <strong>Messages:</strong>
  <ul>
    {% for message in messages %}
      <li>{{message}}</li>
    {% endfor %}
  </ul>
</div>

{% endif %}

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large green darken-4" href="{% url 'entries:create' %}">
    <i class="large material-icons">add</i>
  </a>
</div>


{% endblock content %}

