{% extends 'base_site.html' %}

{% block head_title %}{% if is_update %}Update{% else %}Create{% endif %} Entry{% endblock head_title %}

{% block head_before_css %}

  {% load staticfiles %}
  <link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet" type="text/css">

{% endblock head_before_css %}

{% block content %}
<div class="container">

  {% load widget_tweaks %}

  <form action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper row">
      <div class="input-field">
        {{ form.text.errors }}
        <label for="{{ form.text.id_for_label }}">Text</label>
        {{ form.text|attr:"autofocus"|add_class:"materialize-textarea" }}
      </div>
    </div>

    <div class="fieldWrapper row">
      <div class="input-field">
        {{ form.tags.errors }}
        <label for="{{ form.tags.id_for_label }}">Tags</label>
        {{ form.tags|attr:"placeholder:A comma-separated list of tags." }}
      </div>
    </div>
    <button class="waves-effect waves-light btn green darken-2 white-text" type="submit">{% if is_update %}Update{% else %}Create{% endif %}</button>
  </form>

  </div>
</div>

{% endblock content %}

{% block extra_body_after_js %}

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/tag-it.js' %}" type="text/javascript" charset="utf-8"></script>

<script>
$(document).ready(function() {
	// using jQuery
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
		    var cookie = jQuery.trim(cookies[i]);
		    // Does this cookie string begin with the name we want?
		    if (cookie.substring(0, name.length + 1) == (name + '=')) {
			cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			break;
		    }
		}
	    }
	    return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');
	$("#id_tags").keyup(function(e) {
		clearTimeout($.data(this, 'timer'));
		if (e.keyCode == 13) {
			search(true);
		} else {
			$(this).data('timer', setTimeout(search, 500));
		}
	});
	function csrfSafeMethod(method) {
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!csrfSafeMethod(settings.tyupe) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		}
	});
});
</script>

{% endblock extra_body_after_js %}
