{% extends 'base_site.html' %}

{% block head_title %}{% if is_update %}Update{% else %}Create{% endif %} Entry{% endblock head_title %}

{% block content %}

<div class="container">

    {% load widget_tweaks %}

    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>

        <div class="mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">

            <form action="" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <p>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fill-width">
                        <textarea class="mdl-textfield__input" type="text" rows="5" name="{{ form.text.name }}" id="{{ form.text.id_for_label }}"></textarea>
                        <label class="mdl-textfield__label" for="{{ form.text.id_for_label }}">Enter your requirement</label>
                        <span class="mdl-textfield__error">{{ form.text.errors }}</span>
                    </div>
                </p>

                <p>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fill-width">
                        <input class="mdl-textfield__input" type="text" name="{{ form.tags.name }}" id="{{ form.tags.id_for_label }}">
                        <label class="mdl-textfield__label" for="{{ form.tags.id_for_label }}">Comma-separated list of tags</label>
                        <span class="mdl-textfield__error">{{ form.tags.errors }}</span>
                    </div>
                </p>

                <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">{% if is_update %}Update{% else %}Create{% endif %}</button>
            </form>

        </div>

        <div class="mdl-layout-spacer"></div>
    </div>

    </div>
</div>

{% endblock %}

{% block extra_body_after_js %}

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

<script>
$(document).ready(function() {
	// using jQuery
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
		    var cookie = jQuery.trim(cookies[i]);
		    // Does this cookie string begin with the name we want?
		    if (cookie.substring(0, name.length + 1) == (name + '=')) {
			cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			break;
		    }
		}
	    }
	    return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');
	$("#id_tags").keyup(function(e) {
		clearTimeout($.data(this, 'timer'));
		if (e.keyCode == 13) {
			search(true);
		} else {
			$(this).data('timer', setTimeout(search, 500));
		}
	});
	function csrfSafeMethod(method) {
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!csrfSafeMethod(settings.tyupe) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		}
	});

    var customRenderItem = function(ul, item) {
        var self = this;

        return $("<li>")
            .append(
                $("<a>").text(item.name)
                .append($("<span>").text(" x " + item.count).css("font-weight", "bold"))
                .append($("<p>").text(item.wiki))
                )
            .appendTo(ul);
    };

    $('#id_tags').tagit({
        autocomplete: {
            minLength: 1,
            source: function(request, response) {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:8000/api/tags/" + request.term + '/',
                    dataType: 'json',
                    success: function(data) {
                        /* Set the value and label property in order for autocomplete to work properly. */
                        for (i = 0; i < data.length; i++) {
                            data[i].value = data[i].name;
                            data[i].label = data[i].name;
                        }
                        response(data);
                    }
                });
            },

            create: function() {
                $(this).data('uiAutocomplete')._renderItem = customRenderItem;
            }
        }
    });
});
</script>

{% endblock extra_body_after_js %}
