@charset "UTF-8";
/* CSS Document */

/* http://materialpalette.com/light-green/green */
.dark-primary-color    { background: #689F38; }
.primary-color         { background: #8BC34A; }
.light-primary-color   { background: #DCEDC8; }
.accent-color          { background: #4CAF50; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

.taglist li {
	display: inline;
}

.collection a  {
	color:blue;
	text-decoration: none;

}

.limittext {
	text-overflow: ellipsis;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.collection a:hover {
	color: blue;
}

.tag {
	padding: 5px;
	background-color: #00e676;
	color: white;
	border-radius: 2px;
	font-size: 0.8rem;
	font-weight: 300;
}
