@charset "UTF-8";
/* CSS Document */

/* http://materialpalette.com/light-green/green */
.dark-primary-color    { background: #1b5e20; }
.primary-color         { background: #388e3c; }
.light-primary-color   { background: #81c784; }
.accent-color          { background: #4CAF50; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

a {
	color: #8bc34a; /* primary-color */
}

a:hover {
	color: #dcedc8; /* light-primary-color */
}

a:visited {
	color: #689f38; /* dark-primary-color */
}

.brand-logo {
	font-family: 'Jura', sans-serif;
}

a.brand-logo {
	color: white;
}

.taglist li {
	display: inline;
}

.collection a.collection-item  {
	color: #212121; /* text-primary-color */
	text-decoration: none;
}

.truncate {
	text-overflow: ellipsis;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.collection a:hover {
	color: #727272; /* secondary-text-color */
}

.tag {
	padding: 5px;
	border-radius: 2px;
	font-size: 0.8rem;
	font-weight: 300;
}

.tag:hover {
	background-color: #689f38;
}

/* label color */
.input-field label {
	color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #000;
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #8bc34a;
	box-shadow: 0 1px 0 0 #8bc34a;
}
